<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionName="4.0.7"
    android:versionCode="407"
    package="us.dangeru.launcher">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".application.United"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_real"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HiddenSettingsActivity">
            <intent-filter>
                <action android:name="us.dangeru.launcher.intent.action.THREAD_WATCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.UserscriptActivity">
            <intent-filter>
                <action android:name="us.dangeru.launcher.intent.action.BOARD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AndroidShortcuts"
            android:icon="@mipmap/ic_launcher"
            android:label="danger/u/ board">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>