<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionName="4.2.1"
    android:versionCode="421"
    package="com.angryburg.uapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.angryburg.uapp.application.United"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_real"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.angryburg.uapp.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.angryburg.uapp.activities.HiddenSettingsActivity">
            <intent-filter>
                <action android:name="com.angryburg.la_u_ncher.intent.action.THREAD_WATCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.angryburg.uapp.activities.UserscriptActivity">
            <intent-filter>
                <action android:name="com.angryburg.la_u_ncher.intent.action.BOARD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.angryburg.uapp.activities.AndroidShortcuts"
            android:icon="@mipmap/ic_launcher"
            android:label="danger/u/ board">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:name=".utils.AwooNotificationService"
            android:label="Awoo Notifier Service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
             <intent-filter>
                 <action android:name="android.service.notification.NotificationListenerService" />
             </intent-filter>
        </service>
    </application>

</manifest>
